# App Dummy
CREATE DATABASE IF NOT EXISTS `app_dummy` COLLATE 'utf8mb4_unicode_ci' ;
GRANT ALL ON `app_dummy`.* TO 'default'@'%' ;

CREATE USER cdc IDENTIFIED BY 'secret';
CREATE USER cdt IDENTIFIED BY 'secret';
GRANT ALL ON `cdc_%`.* TO 'cdc'@'%';
GRANT ALL ON `cdt_%`.* TO 'cdc'@'%';
GRANT ALL ON `cdt_%`.* TO 'cdt'@'%';

FLUSH PRIVILEGES ;
